<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="main.css" rel="stylesheet">
    <script>
      var bundleSource = (window.location.hostname === 'localhost')? 'http://'+window.location.hostname+':8080/bundle.js' : 'dist/bundle.js'
      document.write('<div id="app" \/>')
      document.write('<script type="text/javascript" src="'+bundleSource+'"><\/script>');
      console.log(bundleSource)
    </script>
  </head>
  <body>

</body>
</html>
